In [42]:
import pandas as pd

In [43]:
AggregateData_Train=pd.read_csv("AggregateData_Train.csv")

In [44]:
AggregateData_Train.head()

,UID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V45,V46,V47,V48,V49,V50,V51,V52,V53,bad_flag
0,Tr-1,61P4S1M3GET,10397.75,?,?,?,?,?,?,197186.68,...,?,5.04055,?,?,?,6,9,3,10,0
1,Tr-2,6NYVS1J3U7M,?,606.74,?,?,?,?,?,?,...,?,?,?,?,?,1,?,?,?,0
2,Tr-3,BLFB1KMS48,87452.89,963.52,?,?,13838,?,?,1081.25,...,?,?,?,?,?,10,10,20,1,0
3,Tr-4,MYGB1LCW8P,?,393.26,100000,?,?,?,?,?,...,?,?,?,?,?,4,1,?,2,0
4,Tr-5,6UG5S1PQGE5,1100,497.2,?,?,?,?,0.9,18640,...,?,0.00470,?,?,0.00007,2,3,1,2,0

In [45]:
AggregateData_Train.shape

(26775, 54)

In [46]:
AggregateData_Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26775 entries, 0 to 26774
Data columns (total 54 columns):
UID         26775 non-null object
V2          26775 non-null object
V3          26775 non-null object
V4          26775 non-null object
V5          26775 non-null object
V6          26775 non-null object
V7          26775 non-null object
V8          26775 non-null object
V9          26775 non-null object
V10         26775 non-null object
V11         26775 non-null object
V12         26775 non-null object
V13         26775 non-null object
V14         26775 non-null object
V15         26775 non-null object
V16         26775 non-null object
V17         26775 non-null object
V18         26775 non-null object
V19         26775 non-null object
V20         26775 non-null object
V21         26775 non-null object
V22         26775 non-null object
V23         26775 non-null object
V24         26775 non-null object
V25         26775 non-null object
V26         26775 non-null object
V27         26775 non-null object
V28         26775 non-null object
V29         26775 non-null object
V30         26775 non-null object
V31         26775 non-null object
V32         26775 non-null object
V33         26775 non-null object
V34         26775 non-null object
V35         26775 non-null object
V36         26775 non-null object
V37         26775 non-null object
V38         26775 non-null object
V39         26775 non-null object
V40         26775 non-null object
V41         26775 non-null object
V42         26775 non-null object
V43         26775 non-null object
V44         26775 non-null object
V45         26775 non-null object
V46         26775 non-null object
V47         26775 non-null object
V48         26775 non-null object
V49         26775 non-null object
V50         26775 non-null object
V51         26775 non-null object
V52         26775 non-null object
V53         26775 non-null object
bad_flag    26775 non-null int64
dtypes: int64(1), object(53)
memory usage: 11.0+ MB

In [47]:
sample_submission=pd.read_csv("sample_submission.csv")
sample_submission.shape

(10, 2)

In [48]:
sample_submission

     UID  bad_flag
0   Te-1  0.054400
1   Te-2  0.084719
2   Te-3  0.049044
3   Te-4  0.095034
4   Te-5  0.065099
5   Te-6  0.034086
6   Te-7  0.025697
7   Te-8  0.076009
8   Te-9  0.117930
9  Te-10  0.051464

In [49]:
TransactionData_Train=pd.read_csv("TransactionData_Train.csv")
TransactionData_Train.shape

(3343745, 9)

In [50]:
AggregateData_Test=pd.read_csv("AggregateData_Test.csv")
AggregateData_Test.shape

(48434, 53)

In [51]:
TransactionData_Test=pd.read_csv("TransactionData_Test.csv")
TransactionData_Test.shape

(2648039, 9)

In [52]:
TransactionData_Train.head()

,C2,C3,C4,C5,C6,C8,C9,C10,C12
0,6UGH4BMM1Y6P,6YPV4HMP1V5EWID,06JUL38:17:31:02,D,IAD,2038-12-30,30JUL38:00:00:00,OTHER,22000.0
1,9Y46ZBCWRP9,61CE41JD5YMP329,05MAY38:16:46:36,D,STD,2039-06-31,28MAY38:00:00:00,FT,8183.0
2,6Z4F3BPVME6,6UQA3CP9F95BOBD,08FEB37:15:55:28,C,OCD,2038-04-31,30FEB37:00:00:00,CHQ,48900.0
3,6UYF21TDMPPT,BZF6Z3AJQ55MAM,24NOV38:09:48:37,D,EAW,2039-05-29,31NOV38:00:00:00,ATM,1500.0
4,5N5ASLGMMPM,6IPA43AM4Y613SX,26OCT38:18:54:06,D,ATW,2038-03-31,31OCT38:00:00:00,ATM,10000.0

In [53]:
TransactionData_Test.head()

,C2,C3,C4,C5,C6,C8,C9,C10,C12
0,IYH6EOT91IN,6I5V3CKDUVTER3U,16JAN37:23:42:31,D,RDD,2038-02-30,31JAN37:00:00:00,SWEEP,1000.00
1,6NF44HKS8VNP,68BV39T3U86732X,01MAR37:10:24:25,D,NWD,2038-12-30,31MAR37:00:00:00,ATM,10000.00
2,6LFE2QYJ56TM,6UHW3BHJGEWE93X,23APR38:09:33:09,C,MCR,2038-07-30,31APR38:00:00:00,OTHER,23591.24
3,61QE4KT94V5N,6XBA4KPWF94NEBQ,30SEP38:17:30:56,D,ETD,2039-05-29,30SEP38:00:00:00,OTHER,24000.00
4,6XGA3KPVR7WH,5NFF4KADUV41J,23DEC37:19:37:08,C,OCD,2038-01-31,30DEC37:00:00:00,CHQ,4076.00

In [54]:
print(set(TransactionData_Test['C5']))
print(set(TransactionData_Test['C10']))

{'D', 'C'}
{'TAX', 'RTGS', 'IMPS', 'FCC', 'CMS', 'ATM', 'ENET', 'CHQ', 'Interest', 'ECS', 'OTHER', 'CHG', 'Deal pro', 'FT', 'SWEEP', 'NEFT'}

In [55]:
print(set(TransactionData_Train['C5']))
print(set(TransactionData_Test['C10']))

{'D', 'C'}
{'TAX', 'RTGS', 'IMPS', 'FCC', 'CMS', 'ATM', 'ENET', 'CHQ', 'Interest', 'ECS', 'OTHER', 'CHG', 'Deal pro', 'FT', 'SWEEP', 'NEFT'}

In [56]:
AggregateData_Test.head()

,UID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V44,V45,V46,V47,V48,V49,V50,V51,V52,V53
0,Te-1,61P4S1M3GET,10397.75,?,?,?,?,?,?,197186.68,...,?,?,5.04055,?,?,?,6,9,3,10
1,Te-2,6NYVS1J3U7M,?,606.74,?,?,?,?,?,?,...,?,?,?,?,?,?,1,?,?,?
2,Te-3,BLFB1KMS48,87452.89,963.52,?,?,13838,?,?,1081.25,...,1.28678,?,?,?,?,?,10,10,20,1
3,Te-4,MYGB1LCW8P,?,393.26,100000,?,?,?,?,?,...,?,?,?,?,?,?,4,1,?,2
4,Te-5,6UG5S1PQGE5,1100,497.2,?,?,?,?,0.9,18640,...,?,?,0.00470,?,?,0.00007,2,3,1,2

In [57]:
AggregateData_Test.describe()

,UID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V44,V45,V46,V47,V48,V49,V50,V51,V52,V53
count,48434,48434,48434,48434,48434,48434,48434,48434,48434,48434,...,48434,48434,48434,48434,48434,48434,48434,48434,48434,48434
unique,48434,25719,9565,12664,648,980,1710,34,369,1654,...,1914,686,4645,300,35,313,126,176,162,177
top,Te-23513,61CW43PD8Y9P,?,?,?,?,?,?,?,?,...,?,?,?,?,?,?,?,?,?,?
freq,1,8,28150,9912,47026,45905,44833,48371,47668,45067,...,44833,47133,38942,47863,48371,47668,24491,21297,29193,21590

In [58]:
AggregateData_Train.isnull().sum()

UID         0
V2          0
V3          0
V4          0
V5          0
V6          0
V7          0
V8          0
V9          0
V10         0
V11         0
V12         0
V13         0
V14         0
V15         0
V16         0
V17         0
V18         0
V19         0
V20         0
V21         0
V22         0
V23         0
V24         0
V25         0
V26         0
V27         0
V28         0
V29         0
V30         0
V31         0
V32         0
V33         0
V34         0
V35         0
V36         0
V37         0
V38         0
V39         0
V40         0
V41         0
V42         0
V43         0
V44         0
V45         0
V46         0
V47         0
V48         0
V49         0
V50         0
V51         0
V52         0
V53         0
bad_flag    0
dtype: int64

In [59]:
test_id = AggregateData_Test['UID']

In [60]:
y_train=AggregateData_Train['bad_flag']
y_train.shape

(26775,)

In [61]:
x_train=AggregateData_Train.drop(['UID','V2'],axis=1)
x_train.shape

(26775, 52)

In [62]:
x_train=x_train.drop(['bad_flag'],axis=1)

In [63]:
x_test=AggregateData_Test.drop(['UID','V2'],axis=1)

In [64]:
from sklearn.preprocessing import StandardScaler
from sklearn import ensemble

In [65]:
sc= StandardScaler()

In [66]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 1800,max_features='log2',max_depth = 38, min_samples_split = 2,
          learning_rate = 0.8, loss = 'ls')

In [67]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [68]:
x_train=x_train.apply(le.fit_transform)

In [69]:
x_train.head()

,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,...,V44,V45,V46,V47,V48,V49,V50,V51,V52,V53
0,167,12651,646,974,1707,33,367,539,990,669,...,1911,684,4004,298,34,311,87,164,80,1
1,9553,10066,646,974,1707,33,367,1651,990,669,...,1911,684,4633,298,34,311,0,175,161,176
2,9012,12445,646,974,269,33,367,78,746,422,...,1583,684,4633,298,34,311,1,1,57,0
3,9553,7897,3,974,1707,33,367,1651,990,669,...,1911,684,4633,298,34,311,64,0,161,64
4,413,9101,646,974,1707,33,0,499,990,669,...,1911,684,308,298,34,7,35,88,0,64

In [70]:
x_test=x_test.apply(le.fit_transform)

In [71]:
x_test.head()

,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,...,V44,V45,V46,V47,V48,V49,V50,V51,V52,V53
0,168,12663,647,979,1709,33,368,539,990,670,...,1913,685,4012,299,34,312,87,164,80,1
1,9564,10073,647,979,1709,33,368,1653,990,670,...,1913,685,4644,299,34,312,0,175,161,176
2,9023,12457,647,979,270,33,368,78,746,422,...,1584,685,4644,299,34,312,1,1,57,0
3,9564,7905,3,979,1709,33,368,1653,990,670,...,1913,685,4644,299,34,312,64,0,161,64
4,414,9107,647,979,1709,33,0,499,990,670,...,1913,685,308,299,34,7,35,88,0,64

In [72]:
x_train = sc.fit_transform(x_train)
x_test= sc.transform(x_test)

C:\Users\Deepak\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int32 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Deepak\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int32 were all converted to float64 by StandardScaler.

In [73]:
clf.fit(x_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.8, loss='ls', max_depth=38,
             max_features='log2', max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=1800,
             n_iter_no_change=None, presort='auto', random_state=None,
             subsample=1.0, tol=0.0001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [74]:
pred=clf.predict(x_test)

In [75]:
print(type(pred))

<class 'numpy.ndarray'>

In [76]:
pred

array([ 1.53843015e-07, -9.09029614e-05, -1.22689311e-06, ...,
        4.62811501e-08, -1.58108769e-05,  1.73176776e-05])

In [77]:
import numpy as np

In [78]:
pred=pred.tolist()

In [79]:
pred

[1.5384301451514152e-07,
 -9.090296143599992e-05,
 -1.226893112156158e-06,
 -2.023487837053215e-05,
 -3.550908321043638e-07,
 1.137147933347297e-05,
 1.780111362324298e-06,
 2.355367498778634e-06,
 9.017007243867797e-05,
 -5.615503116884307e-06,
 8.316857411522329e-06,
 -1.1159559226285738e-07,
 0.11547344080693321,
 3.5358254014371e-05,
 7.5216169484256495e-06,
 -4.849316430496483e-06,
 -4.110732360045892e-09,
 8.785099891950232e-08,
 3.7276716064270555e-05,
 0.00010687949572444857,
 6.205304663772563e-07,
 2.8550632339647562e-05,
 -9.584787190116495e-06,
 -2.568903939792074e-07,
 1.6965233692040814e-05,
 -4.0096390159970916e-08,
 -4.8716205310668815e-05,
 1.1015099970169514e-06,
 -1.3325896172267526e-05,
 4.6652386681688696e-05,
 -2.3061171041834364e-05,
 -2.7762841145251966e-07,
 -5.606486381039725e-07,
 1.1041782552379648e-07,
 0.11547344080693321,
 1.4409595356572822e-08,
 1.2134480469932892e-05,
 1.0444331605209955e-08,
 -1.6442920308742811e-06,
 5.108865172976356e-06,
 1.3607667589527655e-05,
 -3.760350599247483e-05,
 -7.922015538360734e-05,
 -4.652678755172019e-06,
 8.384955360049852e-07,
 -4.119487197833867e-06,
 -6.1216296069164515e-06,
 1.1099849076193774e-05,
 -0.2304418681692491,
 -7.181649904633894e-06,
 -0.0017526831691218128,
 1.1143916061258404e-06,
 -4.726604882045414e-06,
 0.002385405140286201,
 -5.93455851652115e-06,
 2.627884931618917e-08,
 1.4074209914810558e-08,
 7.340420137677667e-08,
 -8.736133784072667e-07,
 2.6936785197077714e-05,
 2.7581049454831785e-06,
 3.320987006290576e-06,
 2.6517876990798533e-06,
 7.476198790401091e-06,
 -1.808900514842488e-06,
 1.126688115406805e-05,
 6.547394025083129e-06,
 3.856383259788776e-08,
 -3.2163733064459575e-09,
 5.468359542379913e-05,
 1.000005900783682,
 -1.3443443982256994e-06,
 -6.720297749489425e-06,
 6.627932335145889e-08,
 4.7729628742896174e-08,
 4.1496040388176855e-06,
 -0.0001823748447469925,
 9.371510946882282e-07,
 -2.625794314649001e-06,
 -2.4586995607932476e-06,
 3.1907317458542985e-05,
 0.999976605909241,
 1.0000150280031816,
 -1.2895194063314526e-08,
 1.3829511780869955e-09,
 2.8476677448547277e-08,
 5.3466621200230755e-06,
 -1.590967154359994e-05,
 8.123046018032682e-05,
 -3.539151001368061e-06,
 1.9529356197045416e-05,
 2.554631126505031e-05,
 3.950311054883543e-07,
 -9.674097061663564e-06,
 -3.8494510237311683e-07,
 7.523985278329698e-05,
 -3.190084695542289e-05,
 4.4959177513076084e-07,
 6.345181017149872e-06,
 4.158304914892985e-08,
 -2.551184294372333e-07,
 5.847359370593123e-06,
 2.9263791661862585e-05,
 -3.829199708426212e-05,
 -4.6084001483108246e-06,
 4.36055730580716e-08,
 5.907053185158302e-06,
 -1.793189909221073e-08,
 0.03199788252169277,
 4.3749943578886466e-07,
 -1.4389200917820912e-06,
 1.7345325917654453e-08,
 -1.5721286025769896e-05,
 1.8563062581776646e-05,
 -4.1986656854641426e-05,
 1.2194645176836778e-05,
 -0.0012788047030211883,
 -1.7985270022816936e-05,
 -4.8949467639970635e-06,
 -8.692565174853527e-05,
 1.2837080361874355e-05,
 -2.571267798442784e-07,
 2.221007062259349e-05,
 -0.00010021484515141263,
 -1.0642043389993947e-06,
 2.177634085195429e-06,
 0.9999955108191392,
 1.2242172019360097e-07,
 -5.150259153496802e-08,
 -3.994546718810406e-06,
 3.220082394763949e-05,
 2.5997635884753344e-07,
 0.00039210023598736647,
 8.159896444379835e-07,
 9.627373141692821e-08,
 -2.689592367370539e-05,
 -8.316229289333003e-05,
 -2.2163961056834677e-05,
 6.131205632743813e-05,
 -3.667593188945526e-09,
 -2.553247096659478e-05,
 -4.952637336387507e-06,
 9.623884945382862e-06,
 -2.5394024922384978e-05,
 -2.5282860759669177e-06,
 -1.3451963552732556e-07,
 2.363883282570988e-05,
 1.4717344311431364e-05,
 -0.00012393052402358753,
 -3.707554506055997e-07,
 -2.6563382456470102e-05,
 -7.659801129823145e-07,
 8.238986006639934e-06,
 0.9999164035640999,
 -1.830497092662481e-06,
 0.011936903487375368,
 -1.0533731862595428e-05,
 6.534126188933559e-05,
 2.7290450447167796e-06,
 1.8506281991405326e-07,
 1.5895035718160334e-07,
 -4.616890922115215e-06,
 0.19972996295927076,
 -3.017419086372989e-05,
 -1.298289717651255e-05,
 9.02726424811015e-08,
 -2.4223284681015152e-06,
 -2.795923470404652e-06,
 0.9999764180085663,
 -1.598999864119947e-06,
 -1.2589224330746452e-05,
 -3.137447043492051e-05,
 -4.555505528186886e-05,
 -3.887726088581096e-05,
 2.8196449420312327e-08,
 6.19735286253621e-08,
 -4.259198287278893e-05,
 1.2730379415155593e-05,
 2.990841986117534e-06,
 2.8013863901829345e-06,
 -1.3609721650023755e-05,
 -2.0597497382819928e-05,
 2.0820760206982885e-05,
 5.4543396140857973e-05,
 3.037003894302513e-08,
 9.867995860717196e-06,
 -1.2706528627382306e-06,
 -4.1650365001515896e-09,
 0.9999512973315258,
 3.415702946284219e-07,
 5.62660594499347e-06,
 -0.0002047795534649775,
 -2.6256776502995246e-06,
 3.3188077672487e-05,
 1.000034809979397,
 -1.2939979495379509e-08,
 -1.3970759038250559e-05,
 2.371831730009353e-06,
 -3.9077864778631366e-05,
 2.5863955332845373e-05,
 5.78260066393997e-05,
 4.325319179819066e-05,
 5.603382391637383e-07,
 -1.0131012787204921e-07,
 6.944280581518994e-07,
 7.3009398835914e-07,
 -2.0258165081336714e-05,
 -2.02914557921987e-05,
 7.670633410687412e-06,
 -2.3356223178190843e-06,
 4.557517770533121e-05,
 3.8909331600237655e-06,
 1.5732237402315442e-08,
 8.036458773489769e-05,
 5.07984928333447e-09,
 2.803327132884784e-05,
 7.638864021223784e-05,
 -5.53998089558816e-08,
 -3.7587993521113664e-05,
 0.015856822177458003,
 2.96677776316535e-05,
 3.05293459763962e-05,
 1.3372281877159158e-05,
 5.230288843050816e-09,
 7.977600708717246e-06,
 1.0311075000146393e-05,
 4.799785665593612e-06,
 0.006399995200245779,
 -4.350842291579099e-05,
 1.4137979223900746e-08,
 2.111035918459587e-06,
 -1.9622330452611636e-08,
 0.004279288212534277,
 0.9998990925625808,
 -4.536426693168157e-09,
 3.246531640179671e-06,
 -3.141140000006481e-06,
 -7.417269218992761e-06,
 -4.808650478171854e-07,
 -1.7882658619810647e-08,
 -1.6460779986084664e-05,
 -5.603341222502158e-05,
 4.4511913753491007e-10,
 3.2663248048483435e-05,
 5.286461504892098e-06,
 -1.1443096925663303e-05,
 -4.447913949570257e-05,
 -5.4738458636274775e-05,
 6.779309241133239e-05,
 -1.5147076019610342e-07,
 0.0385281558659105,
 2.4136467236709375e-07,
 -1.1063916605787595e-08,
 1.3168967429616868e-06,
 0.0001129560221254122,
 8.218055891202594e-05,
 -4.94192561189591e-06,
 8.354528392971164e-06,
 -2.8729626104886983e-05,
 -1.873642345792334e-05,
 -1.8517837074929954e-07,
 1.6988424413764526e-05,
 -1.4994770722717114e-08,
 7.540212055955002e-05,
 1.0000000027643143,
 -1.0735062746318666e-05,
 1.4005006507025067e-07,
 -2.4568345915525085e-05,
 0.9999868507892543,
 8.181391676005326e-07,
 -2.887516318361995e-05,
 -2.976712630482771e-05,
 -8.002388734509922e-05,
 3.740393164992858e-05,
 1.2207481429972497e-08,
 6.678082787819282e-06,
 -2.5003319793199717e-08,
 -3.0496693132122947e-05,
 -1.0609706896543538e-05,
 5.686401816568817e-09,
 -2.1708141029077395e-06,
 1.1405634154866301e-05,
 -1.042721717919795e-06,
 -2.3319825216294677e-08,
 2.1367254986972977e-05,
 -2.511303876814046e-05,
 6.502919313339901e-05,
 8.756116723200723e-06,
 -2.5447890201279928e-05,
 -3.585649634863444e-05,
 -4.712406198545429e-09,
 0.9936417031091775,
 -8.57093260592727e-05,
 -7.96565504313891e-06,
 2.223575458788734e-05,
 -5.774843462295344e-05,
 4.122809466158715e-05,
 -3.224908312944499e-05,
 -7.257824873883406e-05,
 -9.931411306128639e-07,
 8.718223902377894e-06,
 0.999999818709886,
 -9.729378122132596e-08,
 2.0851321051557956e-07,
 -1.5495164329380463e-06,
 -2.1801850564974485e-05,
 3.1546747072669676e-05,
 -0.0015006073756895055,
 2.053185051237225e-05,
 2.0068950000264847e-05,
 -3.722980211148663e-06,
 1.6941900894319918e-05,
 -5.12924195462953e-07,
 1.000006690649009,
 4.6989945278340697e-07,
 1.94334271970136e-05,
 -3.9669398503471584e-05,
 1.0992449337085788e-05,
 2.382836722545439e-08,
 6.059225564197045e-05,
 2.479431692582973e-05,
 -1.3882784520559626e-08,
 -1.1607142570039476e-05,
 -6.231652292330796e-06,
 -2.461937384492954e-08,
 0.00013805339692735818,
 -7.75428704856677e-06,
 -2.355929180572511e-05,
 -0.0001048322318521422,
 1.000018994116534,
 -4.078852347737084e-06,
 -1.9871076181758236e-06,
 0.7999999572093126,
 2.1376077456640016e-05,
 -1.0714396309109152e-05,
 1.3342504482161763e-05,
 2.988732450667775e-08,
 2.298549060362793e-05,
 -3.128009996290365e-06,
 -8.794800048009416e-07,
 3.5217742842849616e-05,
 5.131496779819281e-05,
 0.14624370426463915,
 -2.3689627061249408e-05,
 2.436273498145601e-08,
 8.872837888893673e-06,
 3.4179118140266034e-06,
 1.2707639265006169e-05,
 1.150310252466332e-05,
 -0.01329781253055015,
 -1.062596308042011e-05,
 -8.05036193728596e-06,
 1.4904321035091541e-05,
 0.19978623881763477,
 0.1895598789432978,
 2.9860025811352913e-06,
 6.6054376834638665e-06,
 0.9999987048885711,
 -1.4521547356917417e-08,
 0.00016095301072639037,
 1.000013392693365,
 -0.0003136131529256195,
 6.633801860875309e-09,
 8.837761637772157e-06,
 2.5026695915917764e-08,
 1.2063342307649885e-07,
 -2.301590220090464e-05,
 -0.0001064379831567566,
 -2.6313195406205307e-06,
 -3.580257788042992e-06,
 -9.526646028851539e-07,
 -1.726481716325645e-06,
 -1.8108386403844734e-06,
 -5.203264054049082e-07,
 1.824058103193356e-05,
 -1.7722177676855275e-05,
 6.447842930486052e-06,
 2.5883440799782692e-08,
 -6.155408193781353e-07,
 -0.00033418361190579426,
 2.1831347675284042e-09,
 4.970839376055551e-08,
 -4.595226346703102e-06,
 -1.933962643979158e-06,
 -1.9217823225967066e-08,
 2.9040836325451737e-07,
 5.2623790681283477e-08,
 -9.531791767697088e-10,
 -1.5415272154617038e-06,
 2.2906857359247166e-05,
 0.999930112954609,
 4.126298629026909e-05,
 1.2356181214665586e-09,
 4.865080640682385e-07,
 0.00013592477891403244,
 -7.218400271763711e-06,
 1.4214913333945091e-05,
 9.43953416917106e-06,
 1.0170564674601763e-05,
 -1.5852497489289543e-08,
 0.00026119027224187126,
 3.625349761089981e-05,
 -3.826942062672532e-05,
 2.4742516950774727e-07,
 -7.145142999745946e-06,
 7.384010637736897e-07,
 1.894547297223584e-07,
 7.00616878090087e-05,
 -1.5912590116840638e-06,
 7.657896221953517e-05,
 0.0002444458910757496,
 2.7105634883873463e-05,
 0.9999317246111641,
 -2.7867525715327936e-06,
 1.3096044465379167e-07,
 0.028440567771450896,
 3.368828278978665e-05,
 2.8907219502720307e-05,
 8.707528466157298e-05,
 -1.887277862703767e-05,
 1.8988127458600308e-06,
 3.20545013977365e-05,
 -1.3450347739809085e-06,
 -2.014704735522711e-06,
 2.0977789272278827e-06,
 1.047948386395721e-08,
 1.2465302377521078e-05,
 6.966466423106536e-06,
 -2.7055531668510725e-05,
 -2.102312742583332e-05,
 -2.5996934979280985e-08,
 -2.0191925056445193e-08,
 -9.350473984708526e-06,
 7.055883622718904e-05,
 6.261115345320079e-08,
 -1.2572726079966663e-05,
 2.576791187885484e-05,
 3.0707070273183864e-06,
 4.351839402524184e-05,
 -0.00011630548968391532,
 -3.411885793770346e-06,
 1.9843902806295563e-06,
 8.361507125633425e-09,
 8.881377787463768e-06,
 2.4468416361127056e-06,
 3.7535177348360856e-05,
 -9.71747974583591e-09,
 1.8434613535352942e-08,
 -8.986675951536614e-05,
 -2.0320815047077998e-05,
 2.828307028788288e-06,
 -3.753010014146542e-05,
 0.11547344080693321,
 1.0000000386004337,
 1.8266951567030105e-05,
 -4.938178627972784e-09,
 -5.397516659982156e-06,
 -5.554646486979493e-08,
 -0.0017823429188156422,
 5.854754304339271e-07,
 3.588872566109431e-05,
 1.3971271786829161e-06,
 -8.338019895087365e-06,
 -1.9687380129389252e-05,
 3.7225509352909877e-05,
 -3.3118579979214974e-05,
 -2.2086475174965405e-07,
 -5.210944607018314e-06,
 -1.6133741826111687e-05,
 2.936083636892219e-08,
 6.846835536148382e-07,
 2.0020075062404305e-05,
 0.9999236352487535,
 -7.845347437986525e-06,
 -1.3769742655673333e-05,
 -2.58714735378625e-05,
 -0.06334162126523965,
 -1.5361884863461135e-06,
 3.3734075912460365e-05,
 1.7716122887638655e-06,
 -7.107206699275004e-09,
 6.9113525199067265e-09,
 0.12867647058823523,
 0.11547344080693321,
 1.6791407774875812e-05,
 1.0000695163630415,
 -3.3420754256554026e-05,
 -1.9940899312608346e-06,
 -4.6528516075924365e-05,
 -3.0948240605785725e-05,
 -8.118726818981568e-07,
 2.680736953291446e-05,
 -2.1804166856190696e-05,
 -8.73498634796266e-09,
 -2.7564467178421304e-09,
 1.61861013072904e-05,
 2.23968635649606e-07,
 0.9999990879298493,
 3.6766673740477304e-07,
 -3.2606731102537837e-05,
 3.769382570689434e-05,
 -3.8057001801810326e-08,
 -1.3356051411673201e-09,
 1.4118555127793773e-07,
 -1.4243387212006692e-07,
 -4.052275514627877e-06,
 -4.241077218973348e-06,
 -6.568332632282474e-06,
 -2.0446909011948174e-07,
 1.5050909411008077e-05,
 1.0000055419910232,
 1.3754595117517263e-06,
 -3.9630875423633254e-05,
 0.00011274623637829543,
 2.4288595651006406e-05,
 -0.00017347530657531166,
 3.9646964172100164e-05,
 1.7460993293274386e-07,
 0.15999085967379248,
 2.242059095126945e-05,
 -1.645234399928677e-05,
 2.3784448516089972e-05,
 2.673550639298031e-08,
 -4.70311496933628e-05,
 2.9572068061852487e-05,
 2.55208568079615e-06,
 -5.469621665967295e-05,
 -2.0995697927086247e-06,
 1.6937984543118243e-05,
 -2.077377938407814e-06,
 -1.0709486582015075e-06,
 1.439020538373733e-05,
 2.3313147126333964e-06,
 -8.990039306820031e-08,
 4.2854990174049343e-07,
 9.711875761102357e-06,
 -2.056757509695031e-06,
 1.0000058321980674,
 9.259263963644533e-07,
 1.2599621725515322e-05,
 1.8813307682087114e-07,
 3.1657339408486514e-07,
 -1.7634408988468934e-05,
 1.3111176910866648e-05,
 1.0000007449625625,
 -1.9936009922149125e-07,
 -7.689651520465908e-06,
 4.36657475858164e-05,
 -2.7113776070079764e-05,
 6.995193131929245e-05,
 -6.732890778268647e-06,
 3.263343782664892e-08,
 -1.8137622912929794e-05,
 -1.6431375639336215e-05,
 -7.667741070219111e-06,
 0.005991630787370864,
 -4.020185137915283e-06,
 0.040788715780972866,
 -4.880045209600297e-05,
 0.9999972324928388,
 1.0000049338743329,
 -1.1407479099006513e-10,
 -1.2035769700717002e-06,
 -1.5552666229722393e-08,
 -1.9121708937426096e-05,
 -2.946210203021325e-08,
 0.0001642080992303275,
 8.900906778619751e-05,
 0.11547344080693321,
 0.0003557062652607143,
 1.4305817616868218e-05,
 -3.5889984831393514e-05,
 0.9986271896031206,
 1.1353337003303984e-07,
 2.6504685024879327e-08,
 6.794561474035676e-05,
 0.00019956851062274662,
 -1.918276561375186e-05,
 5.7590199987116584e-05,
 -1.8927082597100452e-08,
 -5.000418555311801e-08,
 1.5407872362911147e-07,
 -7.995343738951528e-07,
 -3.1122194693118507e-06,
 0.14125810130447403,
 -2.4350897698315035e-05,
 0.9999801135111578,
 8.24914017049566e-09,
 -9.992101183908686e-07,
 -5.057068687321656e-08,
 8.773392273545277e-05,
 -7.085034822968627e-05,
 -2.461771495757858e-05,
 -6.562680117744919e-06,
 3.1734130856586205e-05,
 -1.0682286405397815e-07,
 -4.04230752646148e-05,
 2.672494186705694e-05,
 -1.8659716451062457e-05,
 -0.0008523213004373217,
 7.35195508167084e-05,
 5.0036426236371566e-09,
 -4.969504896215517e-06,
 -8.081711066668447e-08,
 -1.8107214002912827e-08,
 -2.3432320483790604e-06,
 5.816952224641049e-07,
 0.21511598771181015,
 3.968851230635394e-06,
 8.76628754599555e-05,
 2.9475640863938958e-05,
 -6.832471990537428e-08,
 -4.8376209682334964e-05,
 1.000000010673287,
 -6.33277294010011e-05,
 1.0000270347048779,
 -9.30137394390373e-06,
 -7.894547517722809e-07,
 0.12867647058823523,
 1.2263240453531814e-05,
 -1.782621621773815e-05,
 -4.651828456911802e-06,
 7.80598089283328e-07,
 2.0917022114075524e-05,
 -1.2391098862621043e-08,
 1.0866811929188407e-05,
 -4.6979862464740774e-07,
 -2.852755241612344e-05,
 0.9999786016252068,
 -1.3468077779356598e-06,
 -3.188765482052322e-05,
 1.549710860686385e-07,
 -8.190300941235273e-08,
 0.028376001993625236,
 3.868368943497948e-05,
 1.8786020208533177e-05,
 3.4407357181727957e-06,
 4.1479227266238706e-05,
 -4.988954866658277e-05,
 4.7552736083479164e-05,
 8.84389596961372e-09,
 -1.247175930281397e-07,
 2.0813873260610185e-05,
 -2.97838350729568e-06,
 -1.376566577258874e-07,
 -1.3747971154214823e-05,
 -7.691039748155541e-05,
 3.1489133020045124e-07,
 -0.0001674883056573987,
 8.603812211846806e-09,
 -1.906089045796351e-08,
 6.264415062030849e-08,
 -2.256266899147318e-06,
 -6.784750197767705e-08,
 3.7506369336952206e-05,
 -1.584928229611067e-05,
 0.00027494043051400676,
 0.11111111015632621,
 1.1516358757775037e-05,
 4.696255918768088e-06,
 5.849918848627821e-06,
 7.820454172002691e-06,
 -2.9358123857316502e-05,
 0.1895598789432978,
 1.0621606111067917e-05,
 5.633178656722348e-06,
 -9.026003330027461e-05,
 5.439962345542353e-06,
 -2.942342548648995e-05,
 -2.4688631350150526e-06,
 -5.104412300417116e-06,
 3.7628427640796874e-07,
 -1.3706143853913888e-06,
 3.922414130674687e-07,
 1.8314116686606695e-07,
 -2.4484656311934322e-08,
 -9.625108428853212e-06,
 -3.682519979183489e-05,
 -1.0763199147388289e-07,
 5.850394581694249e-07,
 -1.1536559556883545e-06,
 6.518486660780276e-08,
 3.278564526702111e-08,
 -2.7091610539844186e-06,
 -9.612774970451915e-08,
 3.7319467363408065e-05,
 9.808197501282184e-07,
 7.513267682331164e-06,
 -2.408819381449997e-06,
 -2.741698878626065e-08,
 4.2559531016637444e-05,
 -8.231159241691881e-08,
 -4.137136753438224e-06,
 0.9937840443240169,
 0.9999981514172174,
 0.11547344080693321,
 3.7348672697511975e-05,
 -1.8302925103213138e-07,
 3.3424374662332616e-05,
 1.530226920039679e-06,
 7.909865500523362e-06,
 8.744579671280518e-06,
 -1.085952145710637e-06,
 -1.3278218162614446e-05,
 -1.1912034274336063e-06,
 1.0000055912527832,
 -8.073036912776606e-06,
 6.862504713886202e-06,
 1.05703796720727e-07,
 -1.4037045083393755e-07,
 -3.682923077318908e-05,
 2.853693636480408e-06,
 0.9999898285268519,
 -2.753608214840731e-05,
 4.4622566407093e-06,
 6.647944511835112e-09,
 1.000000520065998,
 7.451111328235168e-05,
 8.355435664858415e-05,
 -2.0893462484312326e-06,
 3.005735610987547e-06,
 -3.202106075037605e-05,
 3.515033721030922e-06,
 -1.4313452206040139e-05,
 -4.107622608148137e-05,
 -2.4629079694823253e-06,
 -1.9852980396856562e-05,
 4.8062018619673886e-05,
 1.987998257707822e-05,
 3.2355261717886977e-06,
 -2.5579396932089902e-05,
 8.007219951820934e-05,
 0.9999512637812247,
 5.425217709221309e-07,
 2.9678253856795153e-05,
 7.991273766710503e-05,
 0.9935999995880102,
 -1.0417797882184185e-06,
 -4.644495807482892e-05,
 -3.070939528367355e-05,
 4.92156883534727e-05,
 0.1462404760385432,
 -1.6704332972947532e-05,
 -9.741437419647748e-08,
 -3.964522678157405e-07,
 -9.145865107954102e-07,
 -2.5711355593299216e-06,
 5.702408556717145e-06,
 0.00024747476691010483,
 0.8400075539558449,
 6.059689478244405e-06,
 -1.0838312624816757e-07,
 -9.874956277409648e-05,
 -2.986617785069984e-06,
 0.9999999753131668,
 0.00064041605644409,
 0.00012021370361976867,
 0.9999992151858458,
 -2.1975487037645083e-05,
 0.9999995295182034,
 1.5731174234023826e-06,
 -6.186143503952139e-06,
 2.2932878556828758e-09,
 -4.51525220423054e-08,
 1.2483138835949321e-05,
 -3.726394899856962e-08,
 7.348143909032272e-06,
 1.0254331902580925e-05,
 -9.009597479535022e-07,
 -8.788706462091068e-06,
 4.646336553833086e-06,
 -2.342424661925143e-09,
 1.808272699774711e-06,
 -5.260200658303579e-08,
 6.284697237838333e-06,
 -1.0926453300451878e-06,
 4.00248060562148e-09,
 2.721136094212489e-05,
 0.00011265220588831359,
 1.000048914174359,
 2.6677928513929535e-06,
 -0.0013593401820688104,
 -7.825532432248977e-06,
 -5.322889844307997e-07,
 -2.372330710668017e-08,
 1.8062079478316223e-05,
 0.00022160979266212474,
 -1.4021172819031687e-05,
 2.352873751206045e-10,
 0.03200100212320891,
 6.63528253533756e-05,
 0.1895598789432978,
 8.983299054746024e-07,
 -1.0660692727181247e-06,
 -1.2325812006833106e-05,
 -7.4843409634024915e-06,
 2.0465269057067622e-08,
 0.999885997377594,
 3.30166460854188e-05,
 1.1958993368627666e-08,
 3.484960558401427e-09,
 1.0000461357924966,
 1.5683531289509845e-05,
 1.1109674893638565e-06,
 -8.912170799127568e-06,
 -1.9034454904737463e-05,
 0.9999578168123037,
 -2.0096067820535777e-05,
 -1.4521220070609155e-05,
 2.146760947656026e-06,
 -9.991450155663984e-06,
 0.9991930865672806,
 -6.552178605693676e-08,
 -4.812660607700701e-09,
 7.128058295111648e-06,
 -5.987134221634119e-06,

In [80]:
columns = ['bad_flag']
sub = pd.DataFrame(data=pred, columns=columns)
sub['UID'] = test_id
sub = sub[['UID','bad_flag']]

In [81]:
sub

            UID      bad_flag
0          Te-1  1.538430e-07
1          Te-2 -9.090296e-05
2          Te-3 -1.226893e-06
3          Te-4 -2.023488e-05
4          Te-5 -3.550908e-07
5          Te-6  1.137148e-05
6          Te-7  1.780111e-06
7          Te-8  2.355367e-06
8          Te-9  9.017007e-05
9         Te-10 -5.615503e-06
10        Te-11  8.316857e-06
11        Te-12 -1.115956e-07
12        Te-13  1.154734e-01
13        Te-14  3.535825e-05
14        Te-15  7.521617e-06
15        Te-16 -4.849316e-06
16        Te-17 -4.110732e-09
17        Te-18  8.785100e-08
18        Te-19  3.727672e-05
19        Te-20  1.068795e-04
20        Te-21  6.205305e-07
21        Te-22  2.855063e-05
22        Te-23 -9.584787e-06
23        Te-24 -2.568904e-07
24        Te-25  1.696523e-05
25        Te-26 -4.009639e-08
26        Te-27 -4.871621e-05
27        Te-28  1.101510e-06
28        Te-29 -1.332590e-05
29        Te-30  4.665239e-05
...         ...           ...
48404  Te-48405  9.999907e-01
48405  Te-48406  1.445816e-05
48406  Te-48407  2.027073e-06
48407  Te-48408  1.000000e+00
48408  Te-48409  1.156316e-06
48409  Te-48410 -2.421625e-05
48410  Te-48411  6.906819e-07
48411  Te-48412  5.890919e-05
48412  Te-48413 -2.928445e-03
48413  Te-48414  4.681856e-05
48414  Te-48415  1.600743e-01
48415  Te-48416  3.219054e-02
48416  Te-48417 -3.965591e-03
48417  Te-48418 -1.032865e-06
48418  Te-48419 -2.363577e-05
48419  Te-48420 -8.344088e-05
48420  Te-48421 -1.608249e-05
48421  Te-48422 -1.674869e-06
48422  Te-48423 -1.396046e-06
48423  Te-48424  3.718281e-04
48424  Te-48425 -1.078512e-05
48425  Te-48426 -2.249285e-05
48426  Te-48427  7.329703e-05
48427  Te-48428  3.266134e-05
48428  Te-48429  7.997960e-01
48429  Te-48430  3.940619e-06
48430  Te-48431 -9.003969e-05
48431  Te-48432  4.628115e-08
48432  Te-48433 -1.581088e-05
48433  Te-48434  1.731768e-05

[48434 rows x 2 columns]

In [82]:
sub.to_csv("hdfc1.csv", index=False)